@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Onest Variable', sans-serif;
  }



/* Añade esto a tu archivo CSS global o componente */

@media (min-width: 768px) {
  .desktop-hidden {
    display: none !important;
  }

  .container-cards{
    justify-content: center;
  }
}




  

  
/* Añade esto a tu archivo CSS global o componente */










  